/*

  main.css
  Programmed by mitchell seitz , feb 2024

  This is the css formatting code for most of the website.

*/

/*General formatting */
* {
  /* This allows elements to reach the edge of the screen*/
  padding:0;
  margin:0;
}

/* General body formatting */
body {
  background-color: goldenrod;
  text-align: center;
  font-family: "Lato", sans-serif;
}

/*Formatting for the information class, which will hold our information.*/
.information{
  background-color: lightgoldenrodyellow;
  font-size: 22px; /* This is how you set the font size  */
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 300px;
  /* margin-<direction> allows you to impose limits on a element's size in a certain direction */
  margin-left: 5%;
  margin-right: 5%;
  min-height: 50vh;

}

/* Formatting for page titles */
.pagetitle{
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: lightgoldenrodyellow;
  margin-left: 5%;
  margin-right: 5%;

}

/*Formatting for the footer at the bottom of the page*/
footer{
  /* This code can make the footer cling to the bottom of the page - Great for organization! */
  /* Taken from w3schools, https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: goldenrod;
  text-align: center;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}