/*

  main.css
  Programmed by mitchell seitz , feb 2024

  This is the css formatting code for most of the website.

*/

/*General formatting */
* {
  /* This allows elements to reach the edge of the screen*/
  padding:0;
  margin:0;
  /*Setting font family to arial for cross-browser consistency*/
  font-family: Arial;
}

/*CSS style for the logo + it's homepage link */
.homeLink{
    /* 
    Maxes out the link dimensions 
    to allow the logo css to work 
    */
    width: 100%;
    height: 100%;
}
.logo{
    /* Adjusting width, height, and position on screen */
    max-width: 70%; 
    width: auto; 
    height: 75px;
    transform: translateX(-10%);
    /* Prevents image from squishing, auto adjust to screen */
    object-fit: contain;
}
.logo:hover{
    transition: 0.2s;
    /* 
    disabled color change on the logo because it's terrible on safari. \
    */
    /* filter: brightness(10) grayscale(100%); */
    transform: translatex(-10%) scale(1.05);
    cursor: pointer;
}

/* This is the formatting for our header, at the top of the page. */
header{
  /* 
  This sets the background color and opacity
  without inheritance issues 
  */
  background-color: rgba(1,1,1,0.8);

  /* The padding-direction css allows for some padding to be inserted around elements*/
  padding-left: 1%;
  padding-right: 1%; 
  padding-bottom: 1px;
  padding-top: 1px;

  /* Setting dimensions */
  width: 100%;
  max-height: 80px;

  /*Toggle for scrollability*/
  position: fixed;

}

/* General body formatting */
body {
  text-align: center;
  font-family: "Lato", sans-serif;
}

/*Main formatting - creating the central area to display contents*/
main{
  /*
  padding-left: 15%;
  padding-right: 15%;
  */

  padding-top: 100px;
  padding-bottom: 100px;

  /* margin-<direction> allows you to impose limits on a element's size in a certain direction */
  margin-left: 7.5%;
  margin-right: 7.5%;
  min-height: 50vh;

  color: lightgoldenrodyellow;
  font-size: 22px; 
}

/*Formatting for boxes surrounding contents*/
.mainbox{
  /*creates rounded border edges*/
  border-radius: 25px;
  /*Background color- matches footer and header.*/
  background-color: rgba(1,1,1,0.8);;
}

/* Formatting for page titles */
.pagetitle{
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.copyright:hover{
  transition: 0.2s;
  color: lightgoldenrodyellow;
  cursor: not-allowed;
}

/*Formatting for the footer at the bottom of the page*/
footer{
  /* This code can make the footer cling to the bottom of the page */
  /* Taken from w3schools, https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
  position: fixed; /* Toggle for scroll or fixed */

  /*Dimensions*/
  left: 0;
  bottom: 0;
  width: 100%;

  /*design*/
  background-color: rgba(1,1,1,0.8);
  color: goldenrod;
  text-align: center;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
